.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.directions {
  width: 100%;
}

h3 {
  display: inline-block;
  margin: 0;
}

.container {
    position:relative;
    width: 100%;
    // border: 1px solid blue;
}

.inlineLeft, .inlineRight {
    position:absolute;
    display: inline;
}

.inlineRight {
    right:0;
}
